.scoreDisplay svg {
  width: 100%;
  height: auto;
}

.scoreNote {
  fill-opacity: 0.5;
}

.midiNote {
  fill-opacity: 0.3;
  fill: gray;
  stroke: black;
  cursor: crosshair;
}

.missingNote {
  fill: red;
}

.active {
  stroke-width: 2;
}

.connectionLine {
  stroke-width: 7;
  stroke-opacity: 0.2;
}

.connectionLine:hover {
  stroke: #ff2c2c;
  stroke-opacity: 0.7;
}

.scoreNote:hover {
  fill: #ff2c2c;
  opacity: 0.8;
}

.midiLine {
  stroke:gray;
  stroke-width: 0.2;
}

.instruction {
  fill: gray;
  fill-opacity: 0.3;
}

.instruction:hover {
  fill-opacity: 0.6;
}

.separator-line {
  stroke: black;
  stroke-dasharray: 4 4;
}

.playbackPosition {
  stroke: rgb(255, 161, 161);
  stroke-width: 5;
}

.annotation-editor {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  min-width: 400px;
  height: 200px;
}

.note {
  font-size: small;
}
